<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>app_mode_loader</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.Chrome.app.jaalligjnnpceeidbcfmnjbnlejidnbg</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Django For Beginners</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string></string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>4606.81</string>
	<key>CrAppModeShortcutID</key>
	<string>jaalligjnnpceeidbcfmnjbnlejidnbg</string>
	<key>CrAppModeShortcutName</key>
	<string>Django For Beginners</string>
	<key>CrAppModeShortcutURL</key>
	<string>https://djangoforbeginners.com/hello-world/</string>
	<key>CrAppModeUserDataDir</key>
	<string>/Users/mentxaka/Library/Application Support/Google/Chrome/-/Web Applications/_crx_jaalligjnnpceeidbcfmnjbnlejidnbg</string>
	<key>CrBundleIdentifier</key>
	<string>com.google.Chrome</string>
	<key>CrBundleVersion</key>
	<string>94.0.4606.81</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTSDKBuild</key>
	<string>11.3</string>
	<key>DTSDKName</key>
	<string>macosx11.3</string>
	<key>DTXcode</key>
	<string>1250</string>
	<key>DTXcodeBuild</key>
	<string>12E262</string>
	<key>LSEnvironment</key>
	<dict>
		<key>MallocNanoZone</key>
		<string>0</string>
	</dict>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.11.0</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
