<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Hola mundo</title>
    <script type="text/javascript" src="vue.js"></script>
</head>

<body>
    <div id="app">
        <div class="header">
            <h1>{{header.toLocaleUpperCase()}}</h1>
            <button v-if="state === 'default'" @click="changeState('edit')">Activar edicion</button>
            <button v-else @click="changeState('default')">Desactivar edicion</button>
        </div>
        <ol>
            <li v-for="l in lenguajes">
                {{ l }}
            </li>
        </ol>
        <p v-if="lenguajes.length === 0">
            No hay valores
        </p>
        <div v-if="state === 'edit'" class="add-item-form">
            <input v-model="lenguaje" type="text" placeholder="anyadir lenguaje" @keyup.enter=saveLanguage>
        </div>
        
    </div>
    <script type="text/javascript">
    var app = new Vue({
        el: "#app",
        data:{
            state:'default',
            header: 'lenguajes de programacion',
            lenguaje:'',
            lenguajes:[]
        },
        methods:{
            saveLanguage: function(event){
                this.lenguajes.push(this.lenguaje);
                this.lenguaje = "";
                if(event){
                    alert(event.target.tagName + " Insertado correctamente")
                }
            },
            changeState: function(newState){
                this.state = newState;
            }
        }
    });
</script>
</body>
</html>